.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .content-section-img {
    max-width: 600px;
    margin-left: 3rem;

    &.right {
      margin-right: 3rem;
      margin-left: 0;
    }
  }

  > div {
    max-width: 400px;
    h2 {
  
      &::after {
        content: "";
        display: block;
        width: 4rem;
        height: 2px;
        background: var(--gray-400);
  
        margin: 2rem 0;
      }
    }
  
    p {
      margin-bottom: 3rem;
    }
  }
}


