.card {
  padding: 2.4rem;
  border-radius: 20px;
  background: var(--white);
  box-shadow: rgba(46, 49, 53, 0.08) 0px 24px 32px;

  .image-container {
    height: 120px;
    display: flex;
    align-items: center;
  }

  h3 {
    margin: 1.5rem 0 1rem 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

}